<html>
  <head>
    <title>投稿詳細画面</title>
     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p id="notice"><%= notice %></p>
    <p><strong>Title:</strong><%= @book.title %></p>
    <p><strong>Body</strong><%= @book.body %></p>
    <%= link_to "Edit",edit_book_path %>
    |
    <%= link_to "Back", books_path %>
  </body>
</html>